import os
from contextlib import contextmanager

from dungeon_adventure_agent_connection import InventoryMcpServerClient
from strands import Agent, tool
from strands.session.file_session_manager import FileSessionManager
from strands_tools import current_time

from .session import get_container_session_id


# Define a custom tool
@tool
def subtract(a: int, b: int) -> int:
    return a - b


@contextmanager
def get_agent():
    inventory_mcp_server = InventoryMcpServerClient.create(session_id_provider=get_container_session_id)
    with (
        inventory_mcp_server,
    ):
        session_storage_dir = os.environ.get("SESSION_STORAGE_PATH")
        session_manager = (
            FileSessionManager(
                session_id=get_container_session_id(),
                storage_dir=session_storage_dir,
            )
            if session_storage_dir
            else None
        )

        yield Agent(
            name="StoryAgent",
            description="StoryAgent Strands Agent",
            system_prompt="""
You are a mathematical wizard.
Use your tools for mathematical tasks.
Refer to tools as your 'spellbook'.
""",
            tools=[subtract, current_time, *inventory_mcp_server.list_tools_sync()],
            session_manager=session_manager,
        )
