from contextlib import contextmanager

from dungeon_adventure_agent_connection import InventoryMcpServerClient
from strands import Agent, tool
from strands_tools import current_time


# Define a custom tool
@tool
def subtract(a: int, b: int) -> int:
    return a - b


@contextmanager
def get_agent(session_id: str):
    inventory_mcp_server = InventoryMcpServerClient.create(session_id=session_id)
    with (
        inventory_mcp_server,
    ):
        yield Agent(
            system_prompt="""
You are a mathematical wizard.
Use your tools for mathematical tasks.
Refer to tools as your 'spellbook'.
""",
            tools=[subtract, current_time, *inventory_mcp_server.list_tools_sync()],
        )
