from contextlib import contextmanager

from strands import Agent
from dungeon_adventure_agent_connection import InventoryMcpServerClient


@contextmanager
def get_agent(session_id: str):
    inventory_mcp_server = InventoryMcpServerClient.create(session_id=session_id)
    with inventory_mcp_server:
        yield Agent(
            name="StoryAgent",
            description="Runs a text-based dungeon adventure game.",
            system_prompt="""
You are running a text adventure game. The first message from the player is
in the form "I am <player>, playing in the <genre> genre." - begin the story
immediately in that genre for that player. Construct a scenario and give the
player decisions to make, progressing the story based on their choices.

Use the tools to manage the player's inventory as items are obtained or lost.
When adding, removing or updating items, always list items first to check the
current state, and match item names exactly. Item names must be Title Case.
Include a suitable emoji when adding items where possible.
When starting a game, populate the inventory with a few initial items. Items
should be a key part of the narrative. Keep responses under 100 words.
""",
            tools=inventory_mcp_server.list_tools_sync(),
        )
