---
/**
 * Renders the DEFAULT_LICENSE_ALLOWLIST as a table.
 * Data is loaded from the compiled plugin source at build-time.
 */
import { PRE_APPROVED_LICENSES } from '../../../packages/nx-plugin/src/license/dependency-check/pre-approved';
---

<table>
  <thead>
    <tr>
      <th>SPDX ID</th>
      <th>Full Name</th>
    </tr>
  </thead>
  <tbody>
    {PRE_APPROVED_LICENSES.map((entry) => (
      <tr>
        <td><code>{entry.spdxId}</code></td>
        <td>{entry.fullName}</td>
      </tr>
    ))}
  </tbody>
</table>
