@import "tailwindcss";

div[role=dialog] {
    background-color: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: 0;
}

@layer base {
    ul, ol, li {
      padding: revert;
      list-style: revert;
    }
}