name: PR

on:
  pull_request:
    branches: [main]

env:
  CI: 'true'
  NX_DAEMON: 'true'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  issues: write
  statuses: write
  checks: write
  contents: write
  actions: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build
    runs-on: codebuild-nx-plugin-for-aws-runner-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/init-monorepo
        with:
          aws-docker-login-role-arn: ${{ secrets.AWS_DOCKER_LOGIN_ROLE_ARN }}
      - name: Build
        run: pnpm nx run-many --target build --all --output-style=stream
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Check for mutations
        run: git diff --ignore-space-at-eol --exit-code -- ':!**/LICENSE-THIRD-PARTY'
      - name: Upload artifact
        uses: actions/upload-artifact@v7.0.0
        with:
          name: build-artifact
          path: dist
  smoke_tests:
    name: Smoke Tests - ${{matrix.smoke_test}}
    runs-on: codebuild-nx-plugin-for-aws-runner-${{ github.run_id }}-${{ github.run_attempt }}
    needs: build
    strategy:
      fail-fast: false
      matrix:
        smoke_test:
          - npm
          - yarn
          - pnpm
          - bun
          - dungeon-adventure
          - terraform
          - trpc-api
          - fast-api
          - react-website
          - license-sync
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Download build artifacts
        uses: actions/download-artifact@v8
        with:
          name: build-artifact
          path: dist
      - uses: ./.github/actions/init-monorepo
        with:
          aws-docker-login-role-arn: ${{ secrets.AWS_DOCKER_LOGIN_ROLE_ARN }}
      - name: Smoke Test - ${{ matrix.smoke_test }}
        run: pnpm nx run @aws/nx-plugin-e2e:test -t "smoke test - ${{ matrix.smoke_test }}"
